@import '~office-ui-fabric-react/dist/sass/Fabric.scss';

.login {
  display: grid;
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: 1fr 294px 1fr;
  grid-row-gap: 28px;
  height: 100vh;

  @media (min-width: 422px) {
    grid-template-columns: 1fr 392px 1fr;
    grid-template-rows: 1fr 294px 1fr;
  }

  &__card {
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    height: 100%;
  }

  &__form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
  }

  &__button {
    justify-self: end;
  }
}